.dialog {
    padding: 1rem;
    animation: fadeIn 0.5s ease-out forwards;
    opacity: 0;
    border: 1rem solid #ccc;
    min-height: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.canvas-container {
    display: flex;
    flex-direction: column;
}
