<div class="dialog">
    <div class="title">
        <h3>RANKING (for parameters combinations)</h3>
        <label class="subtitle">Problem: {{ data.problemName }}</label>
        <br />
        <label class="subtitle">Algorithm: {{ data.optimizerName }}</label>
        <br />
        <label class="subtitle">Exact solution: {{ exactSolution }}</label>
        <br />
    </div>
    <div class="card-container">
        <div
            *ngFor="let item of rankedResults | keyvalue; let i = index"
            class="card"
        >
            <div class="field">
                <div class="scrollable">
                    <div *ngFor="let param of getFormatted(item.key)">
                        {{ param }}
                    </div>
                    <div class="average-fitness">
                        {{ i + 1 }}. Average fitness:
                        {{ item.value.averageY }} (Count:
                        {{ item.value.count }})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
