.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.header {
    width: 80%;
    margin-bottom: 20px;
}

.line {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #dcdcdc;
    margin: 0;
}

.form-field {
    width: 400px;
}

h1 {
    color: #7c4dff;
}

.header .bold-text {
    font-weight: bold;
    font-size: 1.4rem;
}

.mat-form-field {
    width: 100%;
    max-width: 400px;
}

.optimizers-table {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 auto;
}

.optimizers-table th,
.optimizers-table td {
    border: 1px solid #dcdcdc;
    padding: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.optimizers-table th {
    background-color: #f0f0f0;
    color: #323232;
    font-weight: bold;
}

.optimizers-table td a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}
.bold-alg {
    font-weight: bold;
}

.optimizers-table td a:hover {
    text-decoration: underline;
}

.optimizers-table button {
    border-radius: 50%;
    padding: 8px;
}
