<div class="container">
    <div class="column">
        <mat-form-field>
            <mat-label>Select problem</mat-label>
            <mat-select
                [(value)]="selectedProblemName"
                (selectionChange)="chooseProblem()"
            >
                <mat-option
                    *ngFor="let name of getUniqueProblemNames()"
                    [value]="name"
                >
                    {{ name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="column">
        <ul class="link-list" *ngIf="isProblemNameSelected">
            <li *ngFor="let alg of getUniqueOptimizersForProblem()">
                <a
                    href="javascript:void(0)"
                    (click)="openDialog(selectedProblemName, alg)"
                >
                    {{ alg }}
                </a>
            </li>
        </ul>
    </div>
</div>
