<div class="container">
    <div class="header">
        <h1>OPTIBENCH - Testing Optimization Algorithms</h1>
        <hr />
        <p class="bold-text">
            Select a problem from the dropdown list below, and view the
            algorithms that have been applied to solve it. Explore the history
            and details of the solving process, including histograms of the
            results.
        </p>
        <p>
            The goal of optimization algorithms is to minimize or maximize an
            objective function, which represents a measure of solution quality.
            Different algorithms use various strategies to explore the solution
            space and find the optimal solution. Evaluating the performance of
            optimization algorithms requires testing them on diverse benchmark
            functions, which are well-known problems with known optimal
            solutions. Based on these tests, histograms, solution histories, and
            algorithm rankings can be generated, allowing for objective
            comparison of their performance. These analyses enable researchers
            to draw significant conclusions about the efficiency of different
            algorithms and identify their strengths and weaknesses in various
            situations. Additionally, such studies can help in identifying
            algorithms that are best suited for specific types of problems.
        </p>
    </div>

    <div>
        <mat-form-field class="form-field">
            <mat-label>Select problem</mat-label>
            <mat-select
                [(value)]="selectedProblemName"
                (selectionChange)="chooseProblem()"
            >
                <mat-option
                    *ngFor="let name of getUniqueProblemNames()"
                    [value]="name"
                >
                    {{ name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <hr class="line" />
    <div>
        <ul class="link-list" *ngIf="isProblemNameSelected">
            <li
                *ngFor="let alg of getUniqueOptimizersForProblem()"
                class="list-item"
            >
                <a
                    href="javascript:void(0)"
                    (click)="openDialog(selectedProblemName, alg)"
                    class="link"
                >
                    {{ alg }}
                </a>
                <a
                    href="javascript:void(0)"
                    (click)="showParamsCombination(selectedProblemName, alg)"
                    class="link"
                >
                    PARAMETERS (chart)
                </a>
                <button
                    (click)="showChart(selectedProblemName, alg)"
                    mat-raised-button
                    color="primary"
                    class="chart-button"
                >
                    <fa-icon [icon]="faChartLine" />
                </button>
            </li>
        </ul>
    </div>
</div>
